# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Netbeans project files
nbproject/
dist/
build/
Makefile

# Doxygen
.dep.inc
doc/

# Jetbrains CLion IDE
.idea
cmake-build-debug
Würde .idea/ löschen
Würde cmake-build-debug/ löschen
